{% extends 'blog_templates/base.html' %}
{% load static %}

<!-- SEO -->
{% block title %}Hakan Yıldız{% endblock %}
{% block meta_title %}Hakan Yıldız Kimdir?{% endblock %}
{% block description %}Hakan Yıldız Kişisel blog hakkında kişisel bilgiler bulunmaktadır. {% endblock %}
{% block keywords %}kişisel,kişisel blog,blog,Hakan Yıldız,Hakan Yıldız kimdir,Hakan Yıldız blog, python developer{% endblock %}
<!-- SEO -->
{% block og_title %}Hakan Yıldız Kimdir?{% endblock %}
{% block og_description %}Hakan Yıldız Kişisel blog hakkında kişisel bilgiler bulunmaktadır. {% endblock %}
{% block og_url %}{{request.get_raw_uri}}{% endblock %}
{% block og_site_name %}{{ web_site_name }} - {{ web_site_slogan }}{% endblock %}
{{% block content %}

<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{%  static 'img/user.png' %}" alt="Stanley">
					<h3>Merhaba! </h3>
                    <p> Hayal edebildiklerini gerçekleştirebilirsin.</p>

				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


	<!-- +++++ Information Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-briefcase"></span>
				<p>Haliç Üniversitesi Bilgisayar Mühendisliği bölümünde okumaktayım.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-user"></span>
				<p> Hayal ettiklerimi hayata geçirmeyi seviyorum.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-pencil"></span>
				<p>Öğrendiklerimi yazmayı çok seviyorum. Çünkü bilginin paylaşdıkça büyüdüğünü çok iyi biliyorum.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-headphones"></span>
				<p>Ruhun gıdası müziktir. Çalışırken hep müzik dinlerim. Müziksiz bir hayat düşünemiyorum...</p>
			</div>
		</div><!-- /row -->

		<div class="row mt">
			<div class="col-lg-6">
				<h4>Hakkımda</h4>
                <p>
                Küçük yaşlarda <b>bilgisayar</b> ile tanıştım. İlk önce herkesin yaptığı gibi oyun makinesi olarak kullandım.
                Sonrasında o zamanlar meşhur mirc vardı. Mirc'de sohbet ederken bu admin yetkileri, nasıl belirleniyor, nasıl oluyor
                diye merak ederek yazılıma başladım.
                <br><br>
                Sonra wordpress ile tanıştım. Yavaş yavaş kendimi yazılımın içerisinde buldum. İTÜ'ye ilk başladığımda kendimi
                biranda İTÜ GNU kulubü içerisinde buldum ve yazılım maceram gerçek anlamı ile başladı. Her geçen gün
                yeni teknolojiler gördükçe bilgilerimin yetersiz olduğunu düşünürek kendimi geliştirmeye başlıyorum.
                </p>
			</div><!-- /colg-lg-6 -->



			<div class="col-lg-6">
				<h4>Yeteneklerim</h4>
            C/C++
            <div class="progress">
                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
				Python
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
						<span class="sr-only">90% Complete</span>
					</div>
				</div>

				Django
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
						<span class="sr-only">55% Complete</span>
					</div>
				</div>

				HTML + CSS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>

                Javascript + Jquery
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
						<span class="sr-only">50% Complete</span>
					</div>
				</div>

                Java
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
						<span class="sr-only">50% Complete</span>
					</div>
				</div>

                Arduino
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
						<span class="sr-only">100% Complete</span>
					</div>
				</div>

                PHP - Wordpress
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
						<span class="sr-only">50% Complete</span>
					</div>
				</div>
                Raspberry Pi
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="sr-only">80% Complete</span>
					</div>
				</div>


			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->


{% endblock %}

{% block last_content %}
{% include 'blog_templates/last_content.html' %}
{% endblock %}