{% extends 'base.html' %}
{% load static %}

<!-- SEO -->
{% block description %}Yeteneklerimi ve benim hakkında daha detaylı bilgiler içermektedir.{% endblock %}

{% block keywords %}kişisel blog, blog, programlama, kişisel gelişim, bloglama, developer blog, ali yaman kim, ali yaman kimdir{% endblock %}

{% block content %}
    <!-- +++++ Posts Lists +++++ -->
	<!-- +++++ Second Post +++++ -->
    {% for i in db %}
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>{{ i.title }}</h4>
                    <p><bd>{{ i.time}}</bd></p>
                    {{ i.content | safe }}
					<p><a href="{{ i.id }}">Devamını okumak için tıkla...</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->
    {% endfor %}

{% endblock %}