{% extends 'blog_templates/base.html' %}
{% load static %}

<!-- SEO -->
{% block title %}{{ web_site_name }} - {{ web_site_slogan }}{% endblock %}
{% block meta_title %}{{ web_site_name }} - {{ web_site_slogan }}{% endblock %}
{% block description %}Ali Yaman Kişisel blog hakkında kişisel yazılar bulunmaktadır.{% endblock %}
{% block keywords %}kişisel blog,yazılımcının günlüğü,kişisel yazılar,kişisel,blog,yazılımcı blogu{% endblock %}
<!-- SEO -->
{% block og_title %}{{ web_site_name }} - {{ web_site_slogan }}{% endblock %}
{% block og_description %}Ali Yaman Kişisel blog hakkında kişisel yazılar bulunmaktadır. {% endblock %}
{% block og_url %}{{request.get_raw_uri}}{% endblock %}
{% block og_site_name %}{{ web_site_name }} - {{ web_site_slogan }}{% endblock %}

{% block category %}
<li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler <span class="caret"></span></a>
          <ul class="dropdown-menu">
              {% for i in category_db %}
            <li><a href="/kategori/{{ i.seo_url }}">{{ i.category_name }}</a></li>
              {% endfor %}
          </ul>
        </li>
{% endblock %}

{% block content %}


<div class="row-fluid top30 pagetitle">

  <div class="container">

    <div class="row">

      <div class="col-md-12"><br></div>


    </div>

  </div>



</div>
<div class="container">


  <div class="row">
    <div class="col-md-3">

      <div id="demo" class="collapse in">
        <div class="list-group list-group">
          <h4 class="">Kategoriler</h4>
            {% for i in category_db %}
<a href="/kategori/{{ i.seo_url }}" class="list-group-item"><i class="{{ i.category_icon }}" aria-hidden="true"></i> {{ i.category_name }}</a>
            {% endfor %}
        </div>
      </div>

    </div>
    <div class="col-md-9">

     {% for i in db %}
      <div class="row">
        <div class="col-sm-4"><a href="/{{ i.seo_url }}" class=""><img src="media/{{ i.image }}" class="img-responsive"></a>
        </div>
        <div class="col-sm-8">
          <h3 class="title"><a href="/{{ i.seo_url }}">{{ i.title }}</a></h3>

            {{ i.content | safe | truncatechars:210 }}
          <p class="text-muted"> <i class="fa fa-hashtag" aria-hidden="true"></i> Etiketler :  <a href="/{{ i.seo_url }}">{{ i.keywords }}</a></p>

        </div>
      </div>
      <hr>
    {% endfor %}

      <ul class="pagination pagination-lg pull-right">
          {% for i in pages.page_range %}
        <li><a href="/sayfa/{{ i }}">{{ i }}</a></li>
          {% endfor %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}

{% block last_content %}
{% include 'blog_templates/last_content.html' %}
{% endblock %}