{% extends 'blog_templates/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block meta_title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
<!-- SEO -->
{% block og_title %}{{ title }}{% endblock %}
{% block og_description %}{{ description }}{% endblock %}
{% block og_url %}{{request.get_raw_uri}}{% endblock %}
{% block og_image %}{{ web_site_url }}/media/{{ image }}{% endblock %}
{% block og_site_name %}{{ web_site_name }} - {{ web_site_slogan }}{% endblock %}

{% block category %}
<li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler <span class="caret"></span></a>
          <ul class="dropdown-menu">
              {% for i in category_db %}
            <li><a href="/kategori/{{ i.seo_url }}">{{ i.category_name }}</a></li>
              {% endfor %}
          </ul>
        </li>
{% endblock %}


{% block content %}

	<!-- +++++ Projects Section +++++ -->

    {% for i in db %}
	<div class="container pt ">
		<div class="row mt">
			<div class="col-lg-12 col-lg-offset-0 centered">
				<h3>{{ i.title }}</h3>
				<hr>
                {{ i.content | safe }}
			</div>
		</div>
		<div class="row mt centered">
        <p><bt>Yazar : <span class="renk">Ali Yaman</span></bt> - <bt>Kategori: <a href="/kategori/{{ i.category_list.seo_url }}">{{ i.category_list.category_name }}</a></bt> - <bt>Tarih: <span class="renk">{{ i.time }}</span></bt></p>
		</div><!-- /row -->
	</div><!-- /container -->
    {% endfor %}
{% endblock %}

{% block last_content %}
{% include 'blog_templates/last_content.html' %}
{% endblock %}