{% extends 'base.html' %}
{% load static %}

<!-- SEO -->
{% block description %}Yeteneklerimi ve benim hakkında daha detaylı bilgiler içermektedir.{% endblock %}

{% block keywords %}kişisel blog, blog, programlama, kişisel gelişim, bloglama, developer blog, ali yaman kim, ali yaman kimdir{% endblock %}

{% block content %}

    <!-- +++++ Posts Lists +++++ -->

	<!-- +++++ Second Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>An Image Post</h4>
                    <p><bd>January 3, 2014</bd></p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p><a href="blog01.html">Continue Reading...</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->

    	<!-- +++++ Second Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>An Image Post</h4>
                    <p><bd>January 3, 2014</bd></p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p><a href="blog01.html">Continue Reading...</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->


{% endblock %}