{% extends 'base.html' %}
{% load static %}

<!-- SEO -->
{% block description %}İletişim bilgilerim.{% endblock %}

{% block keywords %}kişisel blog, blog, programlama, kişisel gelişim, bloglama, developer blog{% endblock %}

{% block content %}
    <!-- +++++ Contact Section +++++ -->

	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Bana Ulaş!</h3>
				<hr>
				<p>Bana ulaşmak istiyorsan, aşşağıdaki formu doldurup yollayabilirsin.</p>
			</div>
		</div>
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2">
				<form role="form">
				  <div class="form-group">
				    <input type="name" class="form-control" id="NameInputEmail1" placeholder="Adınız">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-posta adresiniz">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="subjectEmail1" placeholder="Başlık">
				    <br>
				  </div>
				  <textarea class="form-control" rows="6" placeholder="İçerik"></textarea>
				    <br>
				  <button type="submit" class="btn btn-success">Yolla</button>
				</form>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
{% endblock %}
{% block last_content %}
    {% for i in last_db %}
<a href="/{{ i.seo_url }}"><i class="fa fa-share" aria-hidden="true"></i> {{ i.title }}</a><br/>
    {% endfor %}
{% endblock %}