{% extends 'base.html' %}
{% load static %}

<!-- SEO -->
{% block description %}Ali Yaman hakkında bilgiler içermektedir.{% endblock %}

{% block keywords %}kişisel blog, blog, programlama, kişisel gelişim, bloglama, developer blog{% endblock %}

{% block content %}
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{%  static 'img/user.png' %}" alt="Stanley">
					<h3>Merhaba! </h3>
                    <p>Herzaman bilginin gücüne inanlardan oldum , araştirmalarım ve deneyimlerimlerimi sizlere sunmayı amaçlıyorum.
                    İstanbul Üniversitesi Kontrol ve Otomasyon Öğrencisiyim Elektronik ve Programlama ile ilgim var.
                    İlgi alanımlarla ilgili deneyimleri size sunmayı amaçlıyorum.
                    </p>


				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt centered">
            {% for i in db %}
			<div class="col-lg-4">
				<a class="zoom green" href="/makale/{{ i.seo_url }}"><img  width="500px" height="200px"  src="http://127.0.0.1:8000/media/{{ i.image }}" alt="{{ i.title }}" /></a>
				<p>{{ i.title }}</p>
			</div>
            {% endfor %}
		</div><!-- /row -->
	</div><!-- /container -->
{% endblock %}

{% block last_content %}
    {% for i in db %}
<a href="/makale/{{ i.seo_url }}"><i class="fa fa-share" aria-hidden="true"></i> {{ i.title }}</a><br/>
    {% endfor %}
{% endblock %}
